<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aar.mapper.IntegraltableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.aar.pojo.Integraltable">
        <id column="id" property="id" />
        <result column="integral" property="integral" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, integral
    </sql>

    <select id="selectone" resultMap="BaseResultMap">
        SELECT id, integral FROM integraltable where id = #{id};
    </select>

</mapper>
